body {
 font-family: 'Roboto', sans-serif;  
 color: #434455;
 line-height: 1.5;
 letter-spacing: 0.02em;
 background-color: #ffffff;
}

ul {
 list-style-type: none;
}

a {
    text-decoration: none;
}

/* Header */
.header {
    justify-content: space-between;
}

.logo {
    font-size: 18px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.studio-web {
color: #2e2f42;
}

.nav-studio-index {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;
 }

 .nav-studio-index:hover,
 .nav-studio-index:focus {
    color: #404bbf;
 }


 .adres-header {
    font-style: normal;
}

.adres-contact {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.adres-contact {
    color: #434455;  
}

 .adres-contact:hover,
 .adres-contact:focus {
    color: #404bbf;
 }


/* Hero Section */
.hero {
    background-color: #2e2f42;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
   letter-spacing: 0.02em;
    color: #ffffff;
}

.hero-button {
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

/* Features */
.features-list {
    justify-content: space-between;
}

.features-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.features-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Team */
.team {
    background-color: #F4F4FD;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-list-section {
    background-color: #FFFFFF;
}


/* Portfolio */
.our-portfolio  {
    font-size: 36px; 
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

 .portfolio-list {
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
 }

/* Footer */
.footer {
    background-color: #2E2F42;
}

.logo {  
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.studio {
    color: #f4f4fd;
}

.parahraf-footer {
    color: #f4f4fd;
}
