body {
 font-family: 'Roboto', sans-serif;  
 color: #434455;
 line-height: 1.5;
 letter-spacing: 0.02em;
 background-color: #ffffff;
 text-decoration: none;
}

/* Header */
.header {
    justify-content: space-between;
}

.logo {
    font-size: 18px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo .studio {
color: #2e2f42;
}

.nav-studio li,
.nav-portfolio li,
.nav-contacts li {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42; 
 }

 .nav-studio li:hover,
 .nav-studio li:focus {
    color: #404bbf;
 }


.address {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

 li .cont-adres:hover {
    color: #404bbf;
 }

 li .cont-adres:focus {
    color: #404bbf;
 }

/* Hero Section */
.section .hero {
    background-color: #2e2f42;
    text-align: center;
}

.h1 .hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.button .hero-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}
.button .hero-button:hover,
.button .hero-button:focus {
   color: #404BBF;
}

/* Features */
.features-list {
    justify-content: space-between;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

p .features-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Team */
.team {
    background-color: #F4F4FD;
}
.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.team-list-section {
    background-color: #FFFFFF;
}


/* Portfolio */
h2  {
    font-size: 36px; 
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

 .portfolio-list {
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
 }

/* Footer */
.footer {
    background-color: #2E2F42;
}
a .logo {  
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

 .logo .studio {
    color: #f4f4fd;
}
:root {
    color: #F4F4FD;
}
 p .parahraf {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
}
